In [57]:
import whyqd as _w
schema = _w.Schema()

details = {
        "name": "human-development-report",
        "title": "UN Human Development Report 2007 - 2008",
        "description": """
        En 1990, le premier rapport sur le développement humain a introduit une nouvelle approche pour
        faire progresser le bien-être de l'homme. Le développement humain - ou l'approche du développement humain - consiste à
        l'élargissement de la richesse de la vie humaine, plutôt que simplement de la richesse de l'économie dans laquelle
        les êtres humains vivent. Il s'agit d'une approche axée sur les personnes, leurs possibilités et leurs choix."""
}
schema = _w.Schema()
schema.set_details(**details)

In [58]:
fields = [
    {
        "name":"HDI_rank",
        "title": "HDI_rank",
        "type":"integer",
        "description":"Indice de Developpement Humain."
    },
    {
        "name":"Country",
        "title": "Country",
        "type":"string",
        "description":"nom de l'un des 177 pays ici mentionné.",
        "constraints": {
            "required": True
        }
    },
    {
        "name":"Gender-related development index Rank",
        "title": "Gender-related development index Rank",
        "type":"integer",
        "description":"rang de l'Indice de développement lié au relation de genre"
    },
    {
        "name":"Gender-related development index Value",
        "title": "Gender-related development index Value",
        "type":"number",
        "description":"valeur de l'Indice de développement lié au relation de genre."
    },
    {
        "name":"Life expectancy at birth (years) 2005 Female",
        "title": "Life expectancy at birth (years) 2005 Female",
        "type":"number",
        "description":"Espérance de vie à la naissance des femmes (années) 2005"
    },
    {
        "name":"Life expectancy at birth (years) 2005 Male",
        "title": "Life expectancy at birth (years) 2005 Male",
        "type":"number",
        "decription":"Espérance de vie à la naissance des hommes (années) 2005"
    },
    {
        "name":"Life expectancy at birth (years) 2005 Male","Adult literacy ratea (% aged 15 and older) 1995-2005 Female",
        "title": "Adult literacy ratea (% aged 15 and older) 1995-2005 Female",
        "type":"number",
        "description":"Ratio d'alphabétisation des adultes femmes (% 15 ans et plus) 1995-2005"
    },
    {
        "name":"Adult literacy ratea (% aged 15 and older) 1995-2005 Male",
        "title": "Adult literacy ratea (% aged 15 and older) 1995-2005 Male",
        "type":"number",
        "description":"Ratio d'alphabétisation des adultes hommes (% 15 ans et plus) 1995-2005"
    },
    {
        "name":"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Female",
        "title": "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Female",
        "type":"integer",
        "description":"Taux brut de scolarisation combiné pour l'enseignement primaire, secondaire et supérieur (%) 2005 Femmes"
    },
    {
        "name":"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Male",
        "title": "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Male",
        "type":"integer",
        "description":"Taux brut de scolarisation combiné pour l'enseignement primaire, secondaire et supérieur (%) 2005 Hommes"
    },
    {
        "name":"Estimated earned incomec (PPP US$) 2005 Female",
        "title": "Estimated earned incomec (PPP US$) 2005 Female",
        "type":"number",
        "description":"Estimation des revenus gagnés (PPA US $) 2005 Femmes"
    },
    {
        "name":"Estimated earned incomec (PPP US$) 2005 Male",
        "title": "Estimated earned incomec (PPP US$) 2005 Male",
        "type":"number",
        "description":"Estimation des revenus gagnés (PPA US $) 2005 Hommes"
    },
    {
        "name":"HDI rank minus GDI rank",
        "title": "HDI rank minus GDI rank",
        "type":"integer",
        "description":"Classement HDI moins classement GDI"
    },
    {
        "name":"development level",
        "title": "development level",
        "type":"string",
        "description":"Niveau de developpement"
    },
]
for field in fields:
    schema.set_field(**field)

In [59]:
schema.field("country")

{'name': 'country',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country',
 'description': "nom de l'un des 177 pays ici mentionné."}

In [60]:
# pour enregistrer notre schéma dans un répertoire spécifique
directory = r"C:\Users\Toure Kriya\Documents\GitHub\desktop-tutorial\."
# vous pouvez également spécifier un nom de fichier facultatif
# si vous l'omettez, le nom du fichier sera par défaut le nom du schéma
filename = "human-development-report-schema"
# si le fichier existe déjà, vous devrez spécifier "overwrite=True" sinon vous obtiendrez une erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [65]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = ".human-development-report-schema.json"
DIRECTORY = "."
INPUT_DATA = [
    "HDR 2007-2008 Table 28.xlsx"
]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [66]:
print(method.print_input_data())

Data id: a9800468-f12e-456b-8255-04e697aa5991
Original source: HDR 2007-2008 Table 28.xlsx

====  ============  ============  ============  ==================================  ============  ============  ============  ===========================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  ==========================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0    Unnamed: 1    Unnamed: 2    Gender-related development index    Unnamed: 4    Unnamed: 5    Unnamed: 6    Life expectancy at birth     Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Estimated earned incomec    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24    Unnamed: 25    Unnamed: 26    Unnamed: 27    Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32
                                                                             (GDI)                                                                (years)                                                                                                                                                                                      (PPP US$)
                                                                                                                                                     2005                                                                                                                                                                                           2005
====  ============  ============  ============  ==================================  ============  ============  ============  ===========================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  ==========================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan           nan           nan                                 nan           nan           nan           nan                          nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan                         nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan           nan           nan                                 nan           nan           nan           nan                          nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan                         nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan           nan           nan                                 nan           nan           nan           nan                          nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan                         nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ============  ==================================  ============  ============  ============  ===========================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  ==========================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [67]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [68]:
# A titre d'exemple :
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [69]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Gender-related development index\n(GDI),Unnamed: 4,Unnamed: 5,Unnamed: 6,Life expectancy at birth \n(years)\n2005,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI,COUNTRY,NaN,Rank,NaN,Value,NaN,Female,NaN,Male,...,HDI rank minus GDI rank d,CATEGORIE HDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Iceland,NaN,1,NaN,0.962,NaN,83.1,NaN,79.9,...,0,HIGH HUMAIN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
method.reset_input_data_morph(_id)

In [70]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [71]:
method.add_input_data_morph(_id, ["REBASE", 11])

In [75]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [72]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(180, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [76]:
columns = [
    "HDI_rank",
    "Country",
    "Gender-related development index Rank",
    "Gender-related development index Value",
    "Life expectancy at birth (years) 2005 Female",
    "Life expectancy at birth (years) 2005 Male",
    "Adult literacy ratea (% aged 15 and older) 1995-2005 Male",
    "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Female",
    "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 Male",
    "Estimated earned incomec (PPP US$) 2005 Female","Estimated earned incomec (PPP US$) 2005 Male",
    "HDI rank minus GDI rank",
    "development level"
]
method.add_input_data_morph(_id, ["RENAME", index(columns)])

ValueError: Task morph `RENAME` has invalid structure `['column_names']`.

In [ ]:
df = method.input_dataframe(_id)
df.head()

In [ ]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index
method.add_input_data_morph(_id, ["CATEGORISE", list(rows), "HDI category"])

In [77]:
type(columns)

list